<div class="header-menu collapse navbar-collapse" id="header-nav">
<button type="button" class="menu menu-close" aria-label="Close Menu">
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
</button>
    <div class="center-block">
        <button onclick="randomArticle()" type="button" class="btn btn-default menu menu-item" aria-label="Random Cast">
  <span class="glyphicon glyphicon-random" aria-hidden="true"></span>
  <span>Random Cast</span>
</button>
    </div>
</div>
