<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/nav.ejs %>
        <div class="jumbotron text-center">
            <div class="container">
                <h3>this is http://giantrobots.fm/ RSS scrapper</h3>
                <h4>will present list of podcast shows here</h4>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <data>
                      <script>
                        data = "<%= data %>";
                        data_as_json = data.replace(/&#(\d+);/g, function(match, match2) {
                            return String.fromCharCode(+match2);
                        });
                        console.log(data_as_json);
                      </script>
                        <%= data %>
                    </data>
                </div>
            </div>
        </div>
</body>

</html>