<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Welcome</h1>
  </div>
</div>
<div class="container">
  
  <div class="row">
    <div class="col-md-6">
      hello
    </div>
    <div class="col-md-6">
      world
    </div>
  </div> <!-- row -->
   
</div>


</body>
</html>
