<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h3>this is http://giantrobots.fm/ RSS scrapper</h3>
    <h4>will present list of podcast shows here</h4>
  </div>
</div>
<div class="container">
  
  <div class="row">
    <div class="col-md-12">
      <data></data>
      <button type="button" class="btn btn-default" name="button">Scrap</button>
    </div>
  </div> <!-- row -->
   
</div>


</body>
</html>
