<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/nav.ejs %>
        <header>
          <div class="jumbotron text-center">
              <div class="container">
                  <div class="logo-wrapper">
                      <img class="img-responsive" alt="Giant Robots Smashing Into Other Giant Robots" src="https://media.simplecast.com/podcast/image/271/small_1437963534-artwork.jpg">
                  </div>
                  <h3>Giant Robots Player</h3>
              </div>
          </div>
        </header>
        <div class="container-fluid">
            <div class="row">
              <% for(var index = 0; index < data.length; index++) { %>
                <article class="col-md-2 col-sm-4 col-xs-12">
                    <div class="card shad">
                        <h4><%= data[index].title %></h4>
                        <audio preload="none" controls="true">
                        <source src="<%= data[index].enclosures["0"].url %>" type="audio/mpeg">
                        Not supported.
                      </audio>
                    </div>
                </article>
              <% } %>
            </div>
        </div>
        <footer>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <hr />
                        <div class="col-md-6">
                            <p>
                                Thanks to <a href="http://giantrobots.fm/">http://giantrobots.fm/</a> for an awesome podcast!
                            </p>
                        </div>
                        <div class="col-md-6">
                            <ul>
                                <li><a href="/info">Info</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script type="text/javascript">
        </script>
</body>

</html>